.admin-page {
    display: flex;
}

.nav-side {
    height: 100%;
    border: 1px solid rgb(59, 207, 200);
}

.content-side {
    width: 100%;
}

.dash-board {
    display: flex;
    border: 1px solid rgb(59, 207, 200);
    width: 100%;
    padding: 10px;
    justify-content: center;
}

.grid-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cột đều */
    grid-template-rows: repeat(4, auto); /* 4 hàng với chiều cao tự động */
    gap: 1px;
    border: 1px solid #000;
}

.grid-table div {
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
}